body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-image: url(./img/paulina-milde-jachowska-m6OzmW0GrPk-unsplash.jpg);
   background-size: cover;
}

.wrapper {
   display: flex;
   /* flex-direction: column; */
   justify-content: center;
   margin-left: 10px;
   margin-bottom: 30px;
   width: auto;
}

.jumping-letters {
   display: flex;
   justify-content: center;
   align-items: end;
   height: 70px;
   padding-bottom: 2px;
   margin-bottom: 40px;
   font-family: 'Rubik Mono One', monospace;
   font-size: 30px;
   color: #ffffff;
   -webkit-box-reflect: below 0
      linear-gradient(transparent, rgba(255, 255, 255, 0.1));
}

.jumping-letters span {
   white-space: pre;
   letter-spacing: 10px;
   animation: wave 1.6s infinite calc(0.09s * var(--i));
}

.jumping-letters span:first-child {
   font-size: 25px;
   padding-bottom: 10px;
}

.jumping-letters span:last-child {
   font-size: 25px;
   padding-bottom: 10px;
}

@keyframes wave {
   0%,
   40%,
   100% {
      transform: translateY(0);
   }
   20% {
      transform: translateY(5px);
   }
}

.scrolling-logo {
   width: 570px;
   display: grid;
   margin-left: 20px;
   place-content: center;
   overflow: hidden;
   /* box-shadow: -20px 0 20px rgba(0, 0, 0, 0.3), 10px 0 20px rgba(0, 0, 0, 0.3); / */
   /* border: 2px solid #ccc; */
}

.wrapper-scrolling-logo {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: 60px;
   animation: scroll 12s linear infinite;
   transform: translateX(calc(-50% + 260px));
}



@keyframes scroll {
   to {
      transform: translateX(calc(-50% + 860px));
   }
}


th {
   color: #bbbbbb;
   font-family: 'Rubik Mono One', monospace;
   font-size: 13px;
   letter-spacing: 4px;
   padding-bottom: 10px;
}

h1 {
   background-color: #ffffff;
   width: 80%;
}

table {
   border-collapse: collapse;
   font-family: 'Rubik Scribble', system-ui;
   font-weight: 700;
}

tr {
   border-bottom: 1px solid rgb(61, 61, 61);
}

tr td {
   padding: 5px 5px;
   height: 20px;
}

tr td a {
   padding: 10px;
   color: #bbbbbb;
   text-decoration: none;
}

tr td a:hover {
   color: #e09900;
}
