body {
   background-image: url(./img/paulina-milde-jachowska-m6OzmW0GrPk-unsplash.jpg);
   background-size: cover;
}

.jumping-letters {
   display: flex;
   justify-content: center;
   align-items: end;
   width: 1200px;
   height: 70px;
   margin-bottom: 70px;
   padding-bottom: 4px;
   font-family: 'Rubik Mono One', monospace;
   font-size: 30px;
   color: #ffffff;
   -webkit-box-reflect: below 0
      linear-gradient(transparent, rgba(255, 255, 255, 0.1));
}

.jumping-letters span {
   white-space: pre;
   letter-spacing: 10px;
   animation: wave 1.6s infinite calc(0.1s * var(--i));
}

.jumping-letters span:first-child {
   font-size: 25px;
   padding-bottom: 10px;
}

.jumping-letters span:last-child {
   font-size: 25px;
   padding-bottom: 10px;
}

@keyframes wave {
   0%,
   40%,
   100% {
      transform: translateY(0);
   }
   20% {
      transform: translateY(10px);
   }
}

th {
   color: #bbbbbb;
   font-family: 'Rubik Mono One', monospace;
   font-size: 13px;
   letter-spacing: 4px;
   padding-bottom: 10px;
}

h1 {
   background-color: #ffffff;
   width: 80%;
}

table {
   border-collapse: collapse;
   font-family: 'Rubik Scribble', system-ui;
   font-weight: 700;
}

tr {
   border-bottom: 1px solid rgb(61, 61, 61);
}

tr td {
   padding: 10px 20px;
   height: 20px;
}

tr td a {
   padding: 10px;
   color: #bbbbbb;
   text-decoration: none;
}

tr td a:hover {
   color: #e4ab32;
}
