main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  position: relative;
  width: fit-content;
  height: fit-content;
}

div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  background-color: rgb(255, 86, 0);
  font: 3em sans-serif;
  color: #ffffff;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.points {
  top: 40px;
  left: 30px;
  width: 90px;
}

.one {
  background-color: rgb(59, 179, 58);
}
.two {
  background-color: rgb(255, 0, 0);
}
