* {
  box-sizing: border-box;
}

body {
  background-color: #191919;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "DM Sans", sans-serif;
  color: white;
}

a {
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 28px 50px 110px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 50px;
}

.logo-header {
  font-size: 32px;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.latest-episode-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1337px;
}

.section-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-latest-episodes {
  font-size: 64px;
}

.main-button {
  border-radius: 6px;
  padding: 12px 19px;
  background-color: #118da8;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  color: #ffffff;
  border: none;
}

.episode-card {
  display: flex;
  gap: 60px;
  border-radius: 32px;
  margin: 110px 0 135px;
  background-color: #000000;
  padding: 40px;
}

.episode-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.episode-card-title{
  font-size: 64px;
}

.episode-card-description{
  font-size: 22px;
  margin-bottom: 18px;
  opacity: 70%;
}

.comments-container{
  display: flex;
  gap: 17px;
  
}

.comment-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 435px;
  min-height: 321px;
  background: #000;
  border-radius: 32px;
  padding: 50px;
}

.comment-text{
  font-size: 34px;
}

.comment-owner{
  font-size: 24px;
  opacity: 70%;
}

footer{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  border-top: 2px solid #ffffff;
  border-radius: 32px;
  padding: 100px 93px;
}

.footer-content-container{
  gap: 203px;
  display: flex;
width: 100%;
  max-width: 1337px;
}

.logo-footer{
  font-size: 48px;
}

.nav-footer{
display: flex;
gap: 120px;
}

.nav-footer-items{
  display: flex;
  flex-direction: column;
  
}

.nav-footer-items a{
  margin-bottom: 10px;
}

@media (max-width: 768px)  {
  header {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

nav {
  justify-content: space-between;
  width: 100%;
}
.section-title-container {
flex-direction: column;
gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.episode-card {
  flex-direction: column;
}

.episode-card-title{
  font-size: 40px;
}
.episode-content-container{
  gap: 52px;
}

.episode-card-description{
  margin-bottom: 72px;
}

.btn-description-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comments-container{
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.comment-card{
  max-width: 436px;

}

}